﻿@{
    ViewData["Title"] = "Inicio";
}
<div class="container-center">
   <img src="~/img/LOGO.webp" alt="Logo" class="logo" />
    <h1>Bienvenido al mejor juego:PreguntadOrt</h1>
    <a class="btn btn-primary btn-lg" href='@Url.Action("ConfigurarJuego", "Home")'>Jugar</a>
</div>